html {
	scroll-behavior: smooth;
}
		body {
			font-family: "Georgia";
			margin: 0;	
		}
		.fwh-slide {
				height: 100vh;
				background: #a16a9d;
				box-sizing: border-box;
				padding: 35px;
		}
		.fwh-slide--bg-blue {
				height: 100vh;
				background: #74ced2;
				color: black;
				padding: 35px;
				text-align: center;
		}
		.fwh-slide--bg-red {
				height: 110vh;
				background: #ff6961;
				box-sizing: border-box;
				padding: 35px;
}
			.fwh-slide--bg-green {
				height: 110vh;
				background: #BFE3B4;
				color: black;
				padding: 35px;
				text-align: center;
			}
		.fwh-slide--bg-blue p {
			}
		.fwh-slide p {
				margin: 0;
			}
		p {
				font-size: 2vh;	
			}
		h1 {
				text-align:center;
				font-size:8vw;	
			}
		h2 {
				text-align:center;
				font-size:5vw;
			}
		h4 {
				text-align:center;
				font-size:4vw;
			}
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
 .button {
	  margin: 8px 50px; 
  }
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-family: "Georgia";
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 175px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid red;
}

.button3:hover {
  background-color: red;
  color: white;
}
footer {
	text-align: right;	
	padding: 16px 32px;
}
